<div class="row">
  <% if current_user %>
    <div class="col-md-3">
      <div class="col-md-12">
        <div>
          <div id="user_info" class="card">
            <img class="card-img-top mx-auto" src="<%=current_user.profile_image_url %>">
              <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <strong>Name:</strong><p class="card-text text-muted"><%= current_user.name %></p>
                <strong>Username:</strong><p class="card-text text-muted"> @<%= current_user.username %></p>
                <strong>Peep Count:</strong><p class="card-text text-muted"> <%=current_user.peeps.count %></p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <div class="col-md-6">
    <div class="col-md-12">
      <ul class="peep-list">
        <% @peeps.each do |peep| %>
          <%= partial :peep, locals:{peep: peep} %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">
      <div id="follow_list">
        <p>This is where something else will go</p>
      </div>
    </div>
  </div>
</div>
